apiVersion: resource.k8s.io/v1
kind: ResourceClaim
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  devices:
    requests:
{{- range .Requests }}
      - name: {{ .Name }}
        exactly:
          deviceClassName: ovsdpdk
          selectors:
            - cel:
                expression: 'device.attributes["ovsdpdk.k8snetworkplumbingwg.io"].bridgeName == "{{ .BridgeName }}"'
{{- end }}
