apiVersion: v1
kind: Pod
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  restartPolicy: Never
  terminationGracePeriodSeconds: 1
  resourceClaims:
{{- range .ClaimNames }}
    - name: {{ . }}
      resourceClaimName: {{ . }}
{{- end }}
  containers:
    - name: consumer
      image: busybox:latest
      imagePullPolicy: IfNotPresent
      command: ["sh", "-c", "trap exit TERM; while true; do sleep 1; done"]
      resources:
        claims:
{{- range .ClaimNames }}
          - name: {{ . }}
{{- end }}
