apiVersion: v1
kind: Pod
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  restartPolicy: Never
  terminationGracePeriodSeconds: 1
  resourceClaims:
    - name: {{ .PodClaimName }}
      resourceClaimTemplateName: {{ .TemplateName }}
  containers:
    - name: consumer
      image: busybox:latest
      imagePullPolicy: IfNotPresent
      command: ["sh", "-c", "trap exit TERM; while true; do sleep 1; done"]
      resources:
        claims:
          - name: {{ .PodClaimName }}
