apiVersion: v1
kind: Pod
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  restartPolicy: Never
  terminationGracePeriodSeconds: 1
{{- if .NodeName }}
  nodeName: {{ .NodeName }}
{{- else if .NodeSelector }}
  nodeSelector:
    {{- range $key, $value := .NodeSelector }}
    {{ $key }}: {{ $value }}
    {{- end }}
{{- end }}
  resourceClaims:
    - name: vhost
      resourceClaimName: {{ .ClaimName }}
  containers:
    - name: consumer
      image: busybox:latest
      imagePullPolicy: IfNotPresent
      command: ["sh", "-c", "trap exit TERM; while true; do sleep 1; done"]
      resources:
        claims:
          - name: vhost
{{- if .TopologyResource }}
        requests:
          {{ .TopologyResource }}: "1"
{{- end }}
{{- if .TopologyResource }}
        limits:
          {{ .TopologyResource }}: "1"
{{- end }}
